<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="NYAS_App.NYAS_App">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="19" />
	<application android:label="NYAS-App" android:icon="@drawable/nyas_app_logo"></application>
	<uses-permission android:name="android.permission.READ_OWNER_DATA" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
</manifest>